<Settings>
  <Lists>
    <List Name="CorpCorrespondence" WebUrl="dms/corpcorrespondence">
      <SolutionRow Name="Списать в дело" UsersField="Адресаты"/>
    </List>
    <List Name="ERequests" WebUrl="dms/erequests">
      <SolutionRow Name="Отправить на хранение" UsersField="Инициатор"/>
    </List>
  </Lists>
</Settings>
